<% require 'debug' %>
<% if comments.any? %>
  <% comments.order(:created_at, :id).each do |comment| %>
    <div>
      <p>
        <% if comment.user.present? %>
          <strong><%= comment.user.name == "" ? comment.user.email : comment.user.name %></strong>
        <% else %>
          <strong><%= t('views.common.unknown', name: User.model_name.human.downcase) %></strong>
        <% end %>
        | <%= l comment.created_at %>
      </p>
      <p>
        <%= comment.comment %>
      </p>
      <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), [:edit, @commentable, comment] %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [@commentable, comment], method: :delete %>
    </div>
  <% end %>
<% else %>
  <p><%= t('views.common.not_found', name: Comment.model_name.human.downcase) %></p>
<% end %>

<h2><%= t('views.common.new', name: Comment.model_name.human.downcase) %></h2>

<% if @commentable.present? %>
  <%= render "comments/form", commentable: @commentable, comment: @commentable.comments.build %>
<% else %>
  <%= render "comments/form", commentable: @commentable, comment: @commentable.comments.build %>
<% end %>
