<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <div>
      <p>
        <% if comment.user_id.nil? %>
          <strong>不明なユーザー</strong>
        <% else %>
          <strong><%= comment.user.name == "" ? comment.user.email : comment.user.name %></strong>
        <% end %>
      </p>
      <p>
        <%= l comment.created_at %>
      </p>
      <p>
        <%= comment.comment %>
      </p>
      <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_polymorphic_url([@commentable, comment]) %>
      <%= button_to "Destroy this comment", polymorphic_path([@commentable, comment]), method: :delete %>
    </div>
  <% end %>
<% else %>
  <p>No comments found.</p>
<% end %>

<h2>Add a new comment</h2>
<%= render partial: "comments/form", locals: { commentable: @commentable, comment: @commentable.comments.build } %>
