<% if comments.any? %>
  <% comments.order(:created_at, :id).each do |comment| %>
    <div>
      <p>
        <% if comment.user.present? %>
          <strong><%= user_name_or_email(comment.user) %></strong>
        <% else %>
          <strong><%= t('views.common.unknown', name: User.model_name.human.downcase) %></strong>
        <% end %>
        | <%= l comment.created_at, format: :long %>
      </p>
      <p>
        <%= comment.content %>
      </p>
      <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), [:edit, comment.commentable, comment] %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [comment.commentable, comment], method: :delete %>
    </div>
  <% end %>
<% else %>
  <p><%= t('views.common.not_found', name: Comment.model_name.human.downcase) %></p>
<% end %>
<h2><%= t('views.common.new', name: Comment.model_name.human.downcase) %></h2>

<%= render "shared/comments/form", commentable: @commentable, comment: @commentable.comments.build %>
