<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <p>
      <% if user_signed_in? %>
        <%= t('views.common.logged_in_as', name: current_user.email) %><br>
        <%= link_to t('views.common.show_index', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %> |
        <%= link_to t('views.common.show_index', name: i18n_pluralize(User.model_name.human.downcase)), users_path %> |
        <%= link_to t('views.common.edit_profile'), edit_user_registration_path %> |
        <%= link_to t('views.common.logout'), destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to t('views.common.sign_up'), new_user_registration_path %> |
        <%= link_to t('views.common.log_in'), new_user_session_path %>
      <% end %>
    </p>
    <% if notice %>
      <p class="notice" style="color: green"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert" style="color: green"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
